@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rubik+Beastly&display=swap');

body {
    font-family: 'Noto Serif', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}